<!-- Sam Zinn -->
<!-- sjz20g  -->
<!-- due 02/21/24  -->
<!-- The program in this file is the individual work of Sam Zinn  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Reviews</title>
</head>
<body>
    <h1>Get Reviews by Genre</h1>
    <form action="/listbygenre" method="GET">
        <label for="genre">Enter Genre:</label>
        <input type="text" id="genre" name="genre">
        <input type="submit" value="Search">
    </form>
</body>
</html>
