<!-- Sam Zinn -->
<!-- sjz20g  -->
<!-- due 02/21/24  -->
<!-- The program in this file is the individual work of Sam Zinn  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Top Movies by Year</title>
</head>
<body>
    <h1>Top 5 Movies of a Year</h1>
    <form action="/bestinyear" method="get">
        <label for="year">Year:</label>
        <input type="text" id="year" name="year">
        <input type="submit" value="Submit">
        </table>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
