<!-- Sam Zinn -->
<!-- sjz20g  -->
<!-- due 02/21/24  -->
<!-- The program in this file is the individual work of Sam Zinn  -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews Homepage</title>
</head>
<body>
    <h1>Welcome to the Movie Review System</h1>
   
    <ul>
        <li><a href="/enternew">Add a Review</a></li>
        <li><a href="/getreviews">Get Reviews by Genre</a></li>
        <li><a href="/getyear">Get Top Movies by Year</a></li>
    </ul>
</body>
</html>
